<div class="slider">
    <div class="slides">
        <!-- Raido Buttons-->
         <input type="radio" name="radio-btn" id="radio1">
         <input type="radio" name="radio-btn" id="radio2">
         <input type="radio" name="radio-btn" id="radio3">
         <input type="radio" name="radio-btn" id="radio4">
         <input type="radio" name="radio-btn" id="radio5">
         <input type="radio" name="radio-btn" id="radio6">
         <input type="radio" name="radio-btn" id="radio7">
         <input type="radio" name="radio-btn" id="radio8">
         <input type="radio" name="radio-btn" id="radio9">
         <div class="slide-first">
            <img [src]="images[0].imageSrc" [alt]="images[0].imageAlt">
         </div>
    </div>
</div>
